<style>
    .search {
    display: flex;
    justify-content: center;
    align-items: center;
    }

    #img-container{
        display: flex;
        width: 40;
    }
    
    img{
        width: 500px;
        margin: 10px;
    }
    
    h3, form{
        margin: 10px;
    }

    #container{
        display: flex;
        justify-content:space-between;
    }

    #info-container{
        display: flex;
        flex-grow: 1;
        flex-direction: column;
    }

</style>

<div class="search">   
    <h1>Search</h1>
</div>

<div class="search">
    <%- include('../../partials/searchBar.ejs') %> 
</div>

<br>
<div id="container">
    <div id="img-container">
        <img src="<%= response[0].flag %>" height='300px' width="50%" style='display: inline; padding-right: 20px'>
    </div>
    <div id="info-container">
        <h1><%= response[0].name  %></h1>
        <form method='POST' action='/profile/favorites'>
            <input hidden type='hidden' name='name' value='<%= response[0].name %>'>
            <button type='submit'>Add To Favorites</button>
        </form>
        <h3>Info:</h3>
        <div>
            <p>Abbreviations: <%= response[0].alpha2Code %>, <%= response[0].alpha3Code %></p>
            <p>Reigon: <%= response[0].region %></p>
            <p>Continent: <%= response[0].subregion %> </p>
            <p>Population: <%= response[0].population  %></p>
            <p>Capital: <%= response[0].capital  %></p>
            <p>Language: <%= response[0].languages[0].name  %></p>
            <p>Timezones: <%= zones %> </p>
        </div>
    </div>
</div>
<hr>

<h3>Comments</h3>

<div>
    <% for (comment of comments){ %> 
        <div class="comment" style="margin: 15px;">
            <h5><%= comment.title %></h5>
            <p><%= comment.content %></p>
        </div>
        <hr>
    <% } %> 
</div>

<hr>
<form method="POST" action="/search/code/results">
    <div class="form-group">
        <label for="title">Title</label>
        <input type="text" class="form-control" id="title" name="title" required></input>
    </div>
    <div class="form-group">
        <label for="comment">Comment</label>
        <textarea type="text" class="form-control" id="comment" name="comment" required></textarea>
    </div>
    <input type="hidden" value=<%= response[0].alpha2Code %> id="countryName" name="countryName">
    <input type="submit" class="btn btn-primary">
</form>


